.Clock{
  /* font-family: 'Michroma'; */
  font-family: 'Orbitron';
  font-size: 9vw;
  color: turquoise;
  display: flex;
  text-shadow: 0 0 5px white;
}

.Date{
  font-family: 'Orbitron';
  font-size: 1vw;
  color:magenta;
  text-shadow: 0 0 2px turquoise;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}


